<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    
    style
        include ..\css_edits_for_backend\index.css

</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">MUSIC</a></li>
        </ul>
    </div>





    <div class="container">
        <h1 id="h_one">#{content} </h1>
        <h1 id="h_two">#{message}</h1>
    </div>
</body>
</html>